streamlit

yt-dlp
pydub
ffmpeg-python

openai-whisper
torchaudio

deep-translator

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-mistralai
langchain-chroma

mistralai

chromadb
sentence-transformers

fpdf

pandas
numpy

python-dotenv
tiktoken
python-multipart

requests
tqdm

audioop-lts

protobuf==3.20.3

